@import '../../../../styles/customMediaQueries.css';

.root {
  flex-grow: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.form {
  flex-grow: 1;
}
