@import '../../styles/customMediaQueries.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorGrey100);
  border-radius: var(--borderRadiusMedium);
  overflow: hidden;
  transition: var(--transitionStyleButton);

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
    box-shadow: var(--boxShadowListingCard);
  }
}

.aspectRatioWrapper {
  transition: var(--transitionStyleButton);
  background: var(--colorGrey100); /* Loading BG color */

  @media (--viewportMedium) {
    &:hover {
      transform: scale(1.02);
    }
  }
}

.rootForImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 10px 8px 12px 8px;
}

.mapWrapper {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  border-radius: var(--borderRadiusMedium);
  overflow: hidden;
  border: solid 1px var(--colorGrey100);

  @media (--viewportMedium) {
    height: 100px;
  }
}

.locationText {
  composes: marketplaceTinyFontStyles from global;
  color: var(--colorGrey700);
  margin-top: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.packagesPrice {
  composes: marketplaceTinyFontStyles from global;
  color: var(--marketplaceColor);
  font-weight: var(--fontWeightSemiBold);
  margin-top: 8px;
}

.info {
  /* Layout */
  display: flex;
  flex-direction: column;
}

.price {
  composes: textSmall from global;
  /* Layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-bottom: 4px;
  color: var(--colorGrey700);
}

.priceValue {
  /* Font */
  font-weight: var(--fontWeightSemiBold);
  color: var(--marketplaceColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  font-weight: var(--fontWeightSemiBold);
  color: var(--marketplaceColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.title {
  /* Font */
  composes: textSmall from global;
  font-weight: var(--fontWeightBold);
  color: var(--colorGrey700);
  margin: 0;
}

.authorInfo {
  /* Font */
  composes: marketplaceTinyFontStyles from global;
  font-weight: var(--fontWeightMedium);
  color: var(--colorGrey700);

  padding-top: 4px;
  padding-bottom: 4px;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}
