@import '../../../../../styles/customMediaQueries.css';

.priorityLinkWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.priorityLink {
  border-bottom: 0px solid;
  transition: var(--transitionStyleButton);

  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #fff;

  flex-shrink: 0;
  height: 100%;
  padding: 0 20px 0 20px;
  margin: 0;

  &:hover {
    color: #fff;
    opacity: 0.8;
    border-bottom: 4px solid var(--marketplaceColor);
    border-radius: 0;
    text-decoration: none;
  }

  @media (--viewportMedium) {
    line-height: 16px;
    margin: 0;
  }
}

.highlight {
  color: var(--marketplaceColor);
  &:hover {
    color: var(--marketplaceColorDark);
  }
}

.priorityLinkLabel {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: 0%;
  
  display: inline-block;
  margin: 33px 0;
  text-decoration: inherit;
  text-wrap: nowrap;
}
.scrolledHeader{
  & .priorityLinkLabel{
    color: #1E1E1E;
  }
}