:global(#about_ukreate_hero) {
  margin-top: -82px;
  height: 100vh;
  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    & > div {
      padding-top: 0;
      @media (max-width: 767px) {
        padding: 0 20px;
    }
      & h3{
        font-style: italic;
      }
      & p {
        font-family: Arial;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        leading-trim: CAP_HEIGHT;
        line-height: 32.5px;
        letter-spacing: 0px;
        text-align: center;
        color: #ffffffe5;
        padding: 0;
        margin: 16px 0;
        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 28px;
        }
        @media (max-width: 580px) {
            font-size: 16px;
            line-height: 24px;
        }
      }
    }
  }
  & h2 {
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: CAP_HEIGHT;
    line-height: 20px;
    letter-spacing: 4.2px;
    text-align: center;
    text-transform: uppercase;
    color: #d9a441;
    padding: 0;
    margin: 0 auto 16px;
    max-width: 100%;
    @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
    }
  }
& header{
    @media (max-width: 767px) {
        padding: 0 20px;
    }
}
  & header p,
  & h3 {
    font-family: Times New Roman;
    font-weight: 400;
    font-style: Regular;
    font-size: 72px;
    leading-trim: CAP_HEIGHT;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    max-width: 844px;
    text-wrap: unset;
    padding: 0;
    margin: 0;
    @media (max-width: 1200px) {
        font-size: 60px;
        line-height: 75px;
    }
    @media (max-width: 1023px) {
        font-size: 50px;
        line-height: 65px;
    }
    @media (max-width: 767px) {
        font-size: 45px;
        line-height: 55px;
    }
    @media (max-width: 580px) {
        font-size: 40px;
        line-height: 50px;
    }
  }
  & h4 {
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: CAP_HEIGHT;
    line-height: 16px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}
