:global(#pricing_hero_banner) {
  margin-top: -82px;
  height: 100vh;
  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    & > div {
      @media (max-width: 767px) {
        padding: 0 20px;
      }
    }
  }
  & h1 {
    font-family: Playfair Display;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 67.2px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
    @media (max-width: 1200px) {
      font-size: 50px;
      line-height: 60px;
    }
    @media (max-width: 1023px) {
      font-size: 48px;
      line-height: 57.6px;
    }
    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 43.2px;
    }
  }
  & p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 25.2px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 25px auto 30px;
    max-width: 619px;
  }
  & a {
    background-color: #d9a441;
    height: 58px;
    border-radius: 33px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    max-width: 166px;
    width: 100%;

    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 25.6px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    padding: 0;
    margin: 0 auto;
    &:hover {
      background-color: #fff;
      color: #000;
    }
    &:active {
      background-color: #000;
      color: #fff;
    }
    &:focus {
      background-color: #000;
      color: #fff;
    }
    &:disabled {
      background-color: #000;
      color: #fff;
    }
  }
}
:global(#choose_your_plan) {
  & header {
    & h2 {
      font-family: Cormorant Garamond;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 50px;
      leading-trim: CAP_HEIGHT;
      line-height: 60px;
      letter-spacing: 0%;
      text-align: center;

      padding: 0;
      margin: 0 auto 16px;
      color: #0b2f52;
      @media (max-width: 1023px) {
        font-size: 30px;
        line-height: 36px;
      }
      @media (max-width: 767px) {
        margin-bottom: 12px;
      }
    }
    & p {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      leading-trim: CAP_HEIGHT;
      line-height: 32px;
      letter-spacing: 0%;
      text-align: center;
      text-wrap: unset;

      text-align: center;
      color: #3c3c3c;
      margin: 0 auto 60px;
      padding: 0;
      @media (max-width: 1023px) {
        font-size: 16px;
        line-height: 28px;
        padding: 0 20px;
        margin: 0 auto 40px;
      }
    }
  }

  & h6 {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20.6px;
    letter-spacing: 0px;
    color: #ffffff;
    padding: 2px 16px;
    background-color: #d9a441;
    text-transform: none;
    border-radius: 33px;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    transition: all 0.3s ease;
    height: 33px;
    align-content: center;
    margin: 0 0 24px;
  }
  & h2 {
    padding: 0;
    margin: 0px 0 8px;
    font-family: Playfair Display;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 33.6px;
    letter-spacing: 0px;

    color: #0b1e2d;
  }
  & h1 {
    padding: 0;
    margin: 24px 0 8px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 48px;
    letter-spacing: 0px;
    color: #0b1e2d;
    padding: 0;
    margin: 0 0 8px;
    & em {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 25.6px;
      letter-spacing: 0px;
      color: #6a7282;
      padding: 0;
      margin: 0;
    }
  }
  & p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28.8px;
    letter-spacing: 0px;
    padding: 0;
    margin: 0 0 32px;
    color: #4a5565;
    &:last-child {
      margin-bottom: 0;
      margin-top: auto;
    }
  }
  & ul {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    @media (max-width: 1023px) {
      margin: 0 0 32px;
    }
    @media (max-width: 767px) {
      margin: 0 0 24px;
    }
    & li {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 25.6px;
      letter-spacing: 0px;
      color: #364153;
      margin: 0 0 16px;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 12px;
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6663 5L7.49967 14.1667L3.33301 10' stroke='%23D9A441' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
  & a {
    background-color: #d9a441;
    height: 58px;
    border-radius: 33px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 100%;

    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 25.6px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    padding: 0;
    margin: 0;
  }
  & > div {
    padding: 100px 0;
    @media (max-width: 767px) {
      padding: 110px 0;
    }
    & > div {
      max-width: calc(1024px + 64px);
      margin: 64px auto 0;
      padding-top: 0;
      @media (max-width: 1023px) {
        gap: 20px;
        margin: 50px auto 0;
      }
      @media (max-width: 767px) {
        padding: 0 20px;
      }
      & > div {
        &:nth-child(1) {
          border: 2px solid #d9a441;
          background-color: #fff;
          box-shadow: 0px 4px 6px -4px #0000001a;

          box-shadow: 0px 10px 15px -3px #0000001a;
          border-radius: 24px;
          padding: 42px;
          @media (max-width: 1023px) {
            padding: 42px 24px;
          }
        }
        &:nth-child(2) {
          border: 1px solid #f3f4f6;
          background-color: #fff;
          box-shadow: 0px 4px 6px -4px #0000001a;

          box-shadow: 0px 10px 15px -3px #0000001a;
          border-radius: 24px;
          padding: 42px;
          @media (max-width: 1023px) {
            padding: 42px 24px;
          }
          & > div {
            display: flex;
            flex-direction: column;
            height: 100%;
          }
          & a {
            border: 2px solid #0b1e2d;
            background-color: #fff;
            color: #0b1e2d;
          }
        }
      }
    }
  }
}
