:global(#pricing_hero_banner) {
  margin-top: -82px;
  height: 100vh;
  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    &>div{
        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }
  }
  & h1 {
    font-family: Playfair Display;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 67.2px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
    @media (max-width: 1200px) {
        font-size: 50px;
        line-height: 60px;
    }
    @media (max-width: 1023px) {
        font-size: 48px;
        line-height: 57.6px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
        line-height: 43.2px;
    }
  }
  & p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 25.2px;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 25px auto 30px;
    max-width: 619px;
  }
  & a {
    background-color: #d9a441;
    height: 58px;
    border-radius: 33px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    max-width: 166px;
    width: 100%;

    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 25.6px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    padding: 0;
    margin: 0 auto;
    &:hover {
      background-color: #fff;
      color: #000;
    }
    &:active {
      background-color: #000;
      color: #fff;
    }
    &:focus {
      background-color: #000;
      color: #fff;
    }
    &:disabled {
      background-color: #000;
      color: #fff;
    }
  }
}
