.link {
  display: inline-block;
  color: var(--marketplaceColor);
  border: 0.5px solid #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  & svg{
    & path{
      fill: #ffffff;
    }
  }
}
