@import '../../styles/customMediaQueries.css';

.root {
  margin: 0;
}

.twoColumns {
  @media (--viewportMedium) {
    column-count: 2;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 3px 0;

  @media (--viewportMedium) {
    padding: 5px 0 3px 0;
  }
}

.checkIcon {
  fill: none;
  stroke: #d4af37;
  width: 12px;
  height: 12px;
}

.hidden {
  visibility: hidden;
}

.marketplaceFill {
  fill: var(--marketplaceColor);
}

.iconWrapper {
  align-self: baseline;
  margin-right: 8px;
  background-color: #d4af371a;

  /* This follows line-height */
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.unSelectedIconWrapper {
  background-color: var(--colorGrey100);
}

.unSelectedIcon {
  border: 1px solid var(--colorGrey300);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.labelWrapper {
  display: inline-block;
}

.selectedLabel,
.notSelectedLabel {
  composes: marketplaceBodyFontStyles from global;
  line-height: 24px;
  font-weight: var(--fontWeightRegular);
  margin: 0;
}

.selectedLabel {
  color: var(--colorGrey900);
}

.notSelectedLabel {
  color: var(--colorGrey300);
}
