{:format :v3,
 :transitions
 [{:name :transition/inquire,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}],
   :to :state/inquiry}
  {:name :transition/request-payment,
   :actor :actor.role/customer,
   :privileged? true,
   :actions
   [{:name :action/update-protected-data}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :to :state/pending-payment}
  {:name :transition/request-payment-after-inquiry,
   :actor :actor.role/customer,
   :privileged? true,
   :actions
   [{:name :action/update-protected-data}
    {:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}],
   :from :state/inquiry,
   :to :state/pending-payment}
  {:name :transition/confirm-payment,
   :actor :actor.role/customer,
   :actions [{:name :action/stripe-confirm-payment-intent}],
   :from :state/pending-payment,
   :to :state/purchased}
  {:name :transition/expire-payment,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/pending-payment]}
     {:fn/period ["PT15M"]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/pending-payment,
   :to :state/payment-expired}
  {:name :transition/accept,
   :actor :actor.role/provider,
   :actions
   [{:name :action/stripe-capture-payment-intent}],
   :from :state/purchased,
   :to :state/accepted}
  {:name :transition/submit-service,
   :actor :actor.role/provider,
   :actions
   [{:name :action/update-protected-data}],
   :from :state/accepted,
   :to :state/service-submitted} 
  {:name :transition/decline,
   :actor :actor.role/provider,
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/purchased,
   :to :state/declined}
  {:name :transition/expire,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/purchased]}
     {:fn/period ["P7D"]}]},
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}],
   :from :state/purchased,
   :to :state/expire}
  {:name :transition/complete-after-report-a-problem,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}
   {:name :action/stripe-create-payout}],
   :from :state/problem-reported,
   :to :state/completed}
  {:name :transition/complete,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}
   {:name :action/stripe-create-payout}],
   :from :state/service-submitted,
   :to :state/completed}
  {:name :transition/customer-report-a-problem,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}],
   :from :state/service-submitted,
   :to :state/problem-reported}
  {:name :transition/submit-service-after-problem-fix,
   :actor :actor.role/provider,
   :actions
   [{:name :action/update-protected-data}],
   :from :state/problem-reported,
   :to :state/service-submitted}  
  ;; {:name :transition/provider-report-a-problem,
  ;;  :actor :actor.role/provider,
  ;;  :actions [],
  ;;  :from :state/accepted,
  ;;  :to :state/problem-reported}
  {:name :transition/review-1-by-customer,
   :actor :actor.role/customer,
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}],
   :from :state/completed,
   :to :state/reviewed}
  {:name :transition/expire-review-period,
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/completed]}
     {:fn/period ["P7D"]}]},
   :actions [],
   :from :state/completed,
   :to :state/reviewed}],
 :notifications
 [{:name :notification/order-receipt,
   :on :transition/accept,
   :to :actor.role/customer,
   :template :purchase-order-receipt}
  {:name :notification/purchase-new-order,
   :on :transition/confirm-payment,
   :to :actor.role/provider,
   :template :purchase-new-order}
  {:name :notification/purchase-order-decline,
   :on :transition/decline,
   :to :actor.role/customer,
   :template :purchase-order-decline}
  {:name :notification/content-submitted-by-provider,
   :on :transition/submit-service,
   :to :actor.role/customer,
   :template :content-submitted-by-provider} 
  {:name :notification/content-issue,
   :on :transition/customer-report-a-problem,
   :to :actor.role/provider,
   :template :content-issue} 
  {:name :notification/content-resubmitted-by-provider,
   :on :transition/submit-service-after-problem-fix,
   :to :actor.role/customer,
   :template :content-resubmitted-by-provider}  
  {:name :notification/complete-after-report-a-problem,
   :on :transition/complete-after-report-a-problem,
   :to :actor.role/provider,
   :template :complete} 
  {:name :notification/review-period-start-customer-after-report-a-problem,
   :on :transition/complete-after-report-a-problem,
   :to :actor.role/customer,
   :template :purchase-order-review-by-customer-wanted}
  {:name :notification/review-by-customer-first-after-report-a-problem,
   :on :transition/review-1-by-customer,
   :to :actor.role/provider,
   :template :purchase-review-by-other-party-unpublished} 
  {:name :notification/complete,
   :on :transition/complete
   :to :actor.role/provider,
   :template :complete} 
  {:name :notification/review-period-start-customer,
   :on :transition/complete,
   :to :actor.role/customer,
   :template :purchase-order-review-by-customer-wanted}
  {:name :notification/review-by-customer-first,
   :on :transition/review-1-by-customer,
   :to :actor.role/provider,
   :template :purchase-review-by-other-party-unpublished}]}
